<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>My Blog</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico"> 
    
    <!-- FontAwesome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="/css/theme-8.css">
    

</head> 

<body>
    
    <%- include ('partials/sidebar.ejs') %> 
    
    <div class="main-wrapper">
	    	    
	    <article class="about-section py-5">
		    <div class="container">
			    <h2 class="title mb-3">Admin Page</h2>
			    
			    This page should be protected
		    </div>
	    </article><!--//about-section-->
	    
	    <section class="cta-section theme-bg-light py-5">
		    <div class="container text-center">
			    <h2 class="heading">Use this form to create, edit new blogs</h2>
			    <div class="intro">You should protect this page! </div>
			    <form class="signup-form form-inline flex-column  justify-content-center pt-3">
                    <div class="form-group mb-4">
                        <label class="sr-only" for="title">blog Title</label>
                        <input  id="title"  class="form-control mr-md-1" placeholder="Enter title">
                    </div>

					<div class="form-group mb-4">
                        <label class="sr-only" for="body">blog body</label>
						<textarea  id="body" class="form-control mr-md-1 " cols="30" rows="10" placeholder="Enter blog body"></textarea>
                        
                    </div>


					<div class="form-group">
                        <label  for="isPublished" >Publish blog?</label><br>
                        <input type="checkbox" id="isPublished" class="ml-2" >
                    </div>


					<br>
					<br>
					

                    <button type="submit" class="btn btn-primary">Create New Blog</button>
                </form>
		    </div><!--//container-->
			
	    </section>

		

		<div class="row">

			<div class="col-12 my-5">
				<h1 class=" text-center">Blogs</h1>
			</div>

			<div class="col-6 offset-3">

				
				<ul>
					<li><button class="btn btn-info mb-3">X</button> Heading Lorem Ipsum Dolor Sit Amet</li>
					<li><button class="btn btn-info mb-3">X</button> Heading Lorem Ipsum Dolor Sit Amet</li>
					<li><button class="btn btn-info mb-3">X</button> Heading Lorem Ipsum Dolor Sit Amet</li>
					<li><button class="btn btn-info mb-3">X</button> Heading Lorem Ipsum Dolor Sit Amet</li>
					<li><button class="btn btn-info mb-3">X</button> Heading Lorem Ipsum Dolor Sit Amet</li>
					<li><button class="btn btn-info mb-3">X</button> Heading Lorem Ipsum Dolor Sit Amet</li>
					
					
					
				</ul>
				
			</div>
		</div>
	    
	    
    
    </div><!--//main-wrapper-->
    

  
    <!-- Javascript -->          
    <script src="/plugins/jquery-3.3.1.min.js"></script>
    <script src="/plugins/popper.min.js"></script> 
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script> 
    
        
    

</body>
</html> 

